extends ./layout

block content
  .container
    .search
      input#query(type='text')
      button#search(class="button" onclick='search()') Search

    each product in products
      .item-container
        .image-container
          img(src="https://www.91-img.com/pictures/121008-v1-apple-iphone-x-mobile-phone-large-1.jpg" alt="Image Title")

        .info-container
          h3 #{product.title}
          h6.info #{product.subcategory}
          h5.price #{product.price}
          h5 popularity: #{product.popularity}

    script(src='/js/script.js')